
*{
	padding: 0;
	margin: 0;
}

#topHead{ 
  text-align: center;
  font-family: Papyrus;
  font-size: 50px;
}

body{
  display: flex;
  flex-direction: column;
}

/*.confused{
  display: flex;
  flex-direction: row;
}*/

/*.sort{
  display: flex;
  flex-direction: column;
}*/

section .Heading{
	 display: flex;
    justify-content: center;
    flex-direction: column;
	border: 1px solid black
}

section .site{
padding-left: 2px;
	height: 110px;
	background:radial-gradient(#8c00ff, #00fbff);
	box-shadow: 0px 10px 5px 0px ;
	display: flex;
	align-items: center;
	flex-direction: row;
}

section .logo{	
	height:100px ;
	width: 100px ;
	border-radius:25% ;
	display: flex;
	position: relative;
  margin-left: 80px;
}


section .navigation{
	margin-left: 10px;
	display: flex;
	justify-content: center;
 position: relative;
}

section .charName{
	float: left;
	width: 50%;

}

section .basic{
  text-align: center;
  font-size: 14px;
  font-family: Papyrus;
}
p{
  text-align: center;
  font-size: 14px;
   font-family: Papyrus;
}

section .charInfo{
	float: right;
	width: 75%;
  
}

#Character{
  background: linear-gradient(#240df2, #240df2);
	display:grid;
	flex-direction: row;
	overflow: hidden;
	grid-template-columns: repeat(2, 1fr);
	margin: 10px;
	width:80%
	display: flex;
  justify-content: center;
 flex-direction: column;
}
	
article{
      display: flex;
      flex-direction: row;
			margin: 2%;
}
    


section .container{
	margin: 10px; 
	background: linear-gradient(#6b98e1, #0032fa, #85daff );
	box-shadow: 0px 10px 5px 0px ;
	display: flex;
	grid-gap: 10px;
	flex-direction: row;
	width: 400px;
}

section .box{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 10px;
	box-sizing: border-box;
	display: inline;
  background-color: #6851d6;
	
	
}

 section .charName{
	width: 150px;
 
} 

section img{
	height: 240px;
	width: 160px;
  
}

main{
	width: 100%;
  opacity: 0.8;
	background:linear-gradient(blue, #897cf8);
} 


aside{
	display: flex;
       flex-grow: 2; 
      background-color:  #00aaffbd;
      flex-direction: column;
	margin: 2%;
}

 .sort{
  color: #212121;  
  background-color: #00aaffbd;
 }  

section p{
	margin: 10px;
}


button:hover{
  outline: 2px double #1f26ea;
}

#SearchKey{
  color: #8c00ff;
  background: #D6EAE9;
  border: 1.2px ridge black;
  border-radius: 5px;
  float: right;
  height: 30px;
  width: 800px;
  margin-left: 110px; 
}
#look{
  border: 1px ridge black;
  border-radius: 5px;
  background: #D6EAE9;
}

#AZ{
  color: black;
  background: #ABDBDF;
  border: 1.2px solid black; 
  border-radius: 5px; 
}

#ZA{
  color: black;
  background: #ABDBDF;
  border: 1.2px solid black;
  border-radius: 5px;
  margin-top:5px
}
  
.details{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visability: hidden;
}